In [17]:
import pandas as pd
from PIL import Image
import os
import shutil

In [2]:
savePath = './Images/Test/'

In [3]:
origPath = './Images/JPEGImages/'

In [4]:
df = pd.read_csv('testname - Sheet1.csv')

In [6]:
image = Image.open(origPath + 'car_575' + '.jpg')

In [7]:
imageCopy = image.copy()

In [8]:
imageCopy.save(savePath + 'car_575' + '.jpg')

In [ ]:
for i in range(168):
    filename = df.loc[i]['car_111']
    image = Image.open(origPath + filename + '.jpg')
    imageCopy = image.copy()
    imageCopy.save(savePath + filename + '.jpg')

In [10]:
df

     car_575
0    car_181
1     car_48
2    car_468
3    car_222
4    car_550
..       ...
163  car_177
164  car_538
165   car_80
166  car_577
167  car_570

[168 rows x 1 columns]

In [22]:
savePath = r'./Images/labels/Train/'

In [19]:
origPath = r'./Annotations/Ann/'

In [14]:
train = pd.read_csv('Untitled spreadsheet - Sheet1.csv')

In [15]:
test = pd.read_csv('testname - Sheet1.csv')

In [29]:
for i in range(499):
    filename = train.iloc[i]['car_111']
    shutil.copyfile(origPath + filename + '.xml' , savePath + filename + '.xml')

In [23]:
shutil.copyfile(origPath + 'car_111' + '.xml' , savePath + 'car_111' + '.xml')

'./Images/labels/Train/car_111.xml'

In [26]:
df

     car_575
0    car_181
1     car_48
2    car_468
3    car_222
4    car_550
..       ...
163  car_177
164  car_538
165   car_80
166  car_577
167  car_570

[168 rows x 1 columns]

In [30]:
test

     car_575
0    car_181
1     car_48
2    car_468
3    car_222
4    car_550
..       ...
163  car_177
164  car_538
165   car_80
166  car_577
167  car_570

[168 rows x 1 columns]

In [31]:
savePath = r'./Images/labels/Test/'

In [32]:
origPath = r'./Annotations/Ann/'

In [33]:
for i in range(168):
    filename = test.iloc[i]['car_575']
    shutil.copyfile(origPath + filename + '.xml' , savePath + filename + '.xml')